In [199]:
import pandas as pd

# Reading iris.csv file

In [200]:
df = pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Grouping by species & finding descriptive stats for the groups

In [201]:
df.groupby('species').describe()

           sepal_length
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8  \
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244  \
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.107210  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [202]:
df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

# Add a rank column to the iris DataFrame, ranking the petal length in an ascending order

In [251]:
new_rank_df = df.sort_values(by=['petal_length']).reset_index(drop=True)
new_rank_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             4.6          3.6           1.0          0.2     setosa
1             4.3          3.0           1.1          0.1     setosa
2             5.8          4.0           1.2          0.2     setosa
3             5.0          3.2           1.2          0.2     setosa
4             5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.9          3.8           6.4          2.0  virginica
146           7.6          3.0           6.6          2.1  virginica
147           7.7          3.8           6.7          2.2  virginica
148           7.7          2.8           6.7          2.0  virginica
149           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [252]:
df['rank'] = df['petal_length'].rank(ascending=True)
df.set_index('rank', inplace=True)
df.sort_index()

       sepal_length  sepal_width  petal_length  petal_width    species
rank
1.0             4.6          3.6           1.0          0.2     setosa
2.0             4.3          3.0           1.1          0.1     setosa
3.5             5.8          4.0           1.2          0.2     setosa
3.5             5.0          3.2           1.2          0.2     setosa
8.0             5.5          3.5           1.3          0.2     setosa
...             ...          ...           ...          ...        ...
146.0           7.9          3.8           6.4          2.0  virginica
147.0           7.6          3.0           6.6          2.1  virginica
148.5           7.7          3.8           6.7          2.2  virginica
148.5           7.7          2.8           6.7          2.0  virginica
150.0           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

# Find the mean of each column for each species

In [253]:
df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026


# Create a new DataFrame for each of the species

In [254]:
setosa_df = df[df['species'] == 'setosa']
setosa_df.reset_index(drop=True)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [255]:
versicolor_df = df[df['species'] == 'versicolor']
versicolor_df.reset_index(drop=True)

    sepal_length  sepal_width  petal_length  petal_width     species
0            7.0          3.2           4.7          1.4  versicolor
1            6.4          3.2           4.5          1.5  versicolor
2            6.9          3.1           4.9          1.5  versicolor
3            5.5          2.3           4.0          1.3  versicolor
4            6.5          2.8           4.6          1.5  versicolor
5            5.7          2.8           4.5          1.3  versicolor
6            6.3          3.3           4.7          1.6  versicolor
7            4.9          2.4           3.3          1.0  versicolor
8            6.6          2.9           4.6          1.3  versicolor
9            5.2          2.7           3.9          1.4  versicolor
10           5.0          2.0           3.5          1.0  versicolor
11           5.9          3.0           4.2          1.5  versicolor
12           6.0          2.2           4.0          1.0  versicolor
13           6.1          2.9           4.7          1.4  versicolor
14           5.6          2.9           3.6          1.3  versicolor
15           6.7          3.1           4.4          1.4  versicolor
16           5.6          3.0           4.5          1.5  versicolor
17           5.8          2.7           4.1          1.0  versicolor
18           6.2          2.2           4.5          1.5  versicolor
19           5.6          2.5           3.9          1.1  versicolor
20           5.9          3.2           4.8          1.8  versicolor
21           6.1          2.8           4.0          1.3  versicolor
22           6.3          2.5           4.9          1.5  versicolor
23           6.1          2.8           4.7          1.2  versicolor
24           6.4          2.9           4.3          1.3  versicolor
25           6.6          3.0           4.4          1.4  versicolor
26           6.8          2.8           4.8          1.4  versicolor
27           6.7          3.0           5.0          1.7  versicolor
28           6.0          2.9           4.5          1.5  versicolor
29           5.7          2.6           3.5          1.0  versicolor
30           5.5          2.4           3.8          1.1  versicolor
31           5.5          2.4           3.7          1.0  versicolor
32           5.8          2.7           3.9          1.2  versicolor
33           6.0          2.7           5.1          1.6  versicolor
34           5.4          3.0           4.5          1.5  versicolor
35           6.0          3.4           4.5          1.6  versicolor
36           6.7          3.1           4.7          1.5  versicolor
37           6.3          2.3           4.4          1.3  versicolor
38           5.6          3.0           4.1          1.3  versicolor
39           5.5          2.5           4.0          1.3  versicolor
40           5.5          2.6           4.4          1.2  versicolor
41           6.1          3.0           4.6          1.4  versicolor
42           5.8          2.6           4.0          1.2  versicolor
43           5.0          2.3           3.3          1.0  versicolor
44           5.6          2.7           4.2          1.3  versicolor
45           5.7          3.0           4.2          1.2  versicolor
46           5.7          2.9           4.2          1.3  versicolor
47           6.2          2.9           4.3          1.3  versicolor
48           5.1          2.5           3.0          1.1  versicolor
49           5.7          2.8           4.1          1.3  versicolor

In [256]:
virginica_df = df[df['species'] == 'virginica']
virginica_df.reset_index(drop=True)

    sepal_length  sepal_width  petal_length  petal_width    species
0            6.3          3.3           6.0          2.5  virginica
1            5.8          2.7           5.1          1.9  virginica
2            7.1          3.0           5.9          2.1  virginica
3            6.3          2.9           5.6          1.8  virginica
4            6.5          3.0           5.8          2.2  virginica
5            7.6          3.0           6.6          2.1  virginica
6            4.9          2.5           4.5          1.7  virginica
7            7.3          2.9           6.3          1.8  virginica
8            6.7          2.5           5.8          1.8  virginica
9            7.2          3.6           6.1          2.5  virginica
10           6.5          3.2           5.1          2.0  virginica
11           6.4          2.7           5.3          1.9  virginica
12           6.8          3.0           5.5          2.1  virginica
13           5.7          2.5           5.0          2.0  virginica
14           5.8          2.8           5.1          2.4  virginica
15           6.4          3.2           5.3          2.3  virginica
16           6.5          3.0           5.5          1.8  virginica
17           7.7          3.8           6.7          2.2  virginica
18           7.7          2.6           6.9          2.3  virginica
19           6.0          2.2           5.0          1.5  virginica
20           6.9          3.2           5.7          2.3  virginica
21           5.6          2.8           4.9          2.0  virginica
22           7.7          2.8           6.7          2.0  virginica
23           6.3          2.7           4.9          1.8  virginica
24           6.7          3.3           5.7          2.1  virginica
25           7.2          3.2           6.0          1.8  virginica
26           6.2          2.8           4.8          1.8  virginica
27           6.1          3.0           4.9          1.8  virginica
28           6.4          2.8           5.6          2.1  virginica
29           7.2          3.0           5.8          1.6  virginica
30           7.4          2.8           6.1          1.9  virginica
31           7.9          3.8           6.4          2.0  virginica
32           6.4          2.8           5.6          2.2  virginica
33           6.3          2.8           5.1          1.5  virginica
34           6.1          2.6           5.6          1.4  virginica
35           7.7          3.0           6.1          2.3  virginica
36           6.3          3.4           5.6          2.4  virginica
37           6.4          3.1           5.5          1.8  virginica
38           6.0          3.0           4.8          1.8  virginica
39           6.9          3.1           5.4          2.1  virginica
40           6.7          3.1           5.6          2.4  virginica
41           6.9          3.1           5.1          2.3  virginica
42           5.8          2.7           5.1          1.9  virginica
43           6.8          3.2           5.9          2.3  virginica
44           6.7          3.3           5.7          2.5  virginica
45           6.7          3.0           5.2          2.3  virginica
46           6.3          2.5           5.0          1.9  virginica
47           6.5          3.0           5.2          2.0  virginica
48           6.2          3.4           5.4          2.3  virginica
49           5.9          3.0           5.1          1.8  virginica

# Sepal DataFrame

In [257]:
sepla_df = df[['sepal_length', 'sepal_width', 'species']].sort_index()
sepla_df

       sepal_length  sepal_width    species
rank
1.0             4.6          3.6     setosa
2.0             4.3          3.0     setosa
3.5             5.8          4.0     setosa
3.5             5.0          3.2     setosa
8.0             5.5          3.5     setosa
...             ...          ...        ...
146.0           7.9          3.8  virginica
147.0           7.6          3.0  virginica
148.5           7.7          3.8  virginica
148.5           7.7          2.8  virginica
150.0           7.7          2.6  virginica

[150 rows x 3 columns]

# Petal DataFrame

In [258]:
sepla_df = df[['petal_length', 'petal_width', 'species']].sort_index()
sepla_df

       petal_length  petal_width    species
rank
1.0             1.0          0.2     setosa
2.0             1.1          0.1     setosa
3.5             1.2          0.2     setosa
3.5             1.2          0.2     setosa
8.0             1.3          0.2     setosa
...             ...          ...        ...
146.0           6.4          2.0  virginica
147.0           6.6          2.1  virginica
148.5           6.7          2.2  virginica
148.5           6.7          2.0  virginica
150.0           6.9          2.3  virginica

[150 rows x 3 columns]

# Concatenation

In [260]:
# Lab Answer - Creating a new DataFrame for each of the species (Needed for concatenation)
vers = df[df['species'] == 'versicolor']
setosa = df[df['species'] == 'setosa']
virg = df[df['species'] == 'virginica']
vers

       sepal_length  sepal_width  petal_length  petal_width     species
rank
93.0            7.0          3.2           4.7          1.4  versicolor
83.5            6.4          3.2           4.5          1.5  versicolor
102.0           6.9          3.1           4.9          1.5  versicolor
64.0            5.5          2.3           4.0          1.3  versicolor
89.0            6.5          2.8           4.6          1.5  versicolor
83.5            5.7          2.8           4.5          1.3  versicolor
93.0            6.3          3.3           4.7          1.6  versicolor
52.5            4.9          2.4           3.3          1.0  versicolor
89.0            6.6          2.9           4.6          1.3  versicolor
60.0            5.2          2.7           3.9          1.4  versicolor
54.5            5.0          2.0           3.5          1.0  versicolor
71.5            5.9          3.0           4.2          1.5  versicolor
64.0            6.0          2.2           4.0          1.0  versicolor
93.0            6.1          2.9           4.7          1.4  versicolor
56.0            5.6          2.9           3.6          1.3  versicolor
77.5            6.7          3.1           4.4          1.4  versicolor
83.5            5.6          3.0           4.5          1.5  versicolor
68.0            5.8          2.7           4.1          1.0  versicolor
83.5            6.2          2.2           4.5          1.5  versicolor
60.0            5.6          2.5           3.9          1.1  versicolor
97.5            5.9          3.2           4.8          1.8  versicolor
64.0            6.1          2.8           4.0          1.3  versicolor
102.0           6.3          2.5           4.9          1.5  versicolor
93.0            6.1          2.8           4.7          1.2  versicolor
74.5            6.4          2.9           4.3          1.3  versicolor
77.5            6.6          3.0           4.4          1.4  versicolor
97.5            6.8          2.8           4.8          1.4  versicolor
106.5           6.7          3.0           5.0          1.7  versicolor
83.5            6.0          2.9           4.5          1.5  versicolor
54.5            5.7          2.6           3.5          1.0  versicolor
58.0            5.5          2.4           3.8          1.1  versicolor
57.0            5.5          2.4           3.7          1.0  versicolor
60.0            5.8          2.7           3.9          1.2  versicolor
112.5           6.0          2.7           5.1          1.6  versicolor
83.5            5.4          3.0           4.5          1.5  versicolor
83.5            6.0          3.4           4.5          1.6  versicolor
93.0            6.7          3.1           4.7          1.5  versicolor
77.5            6.3          2.3           4.4          1.3  versicolor
68.0            5.6          3.0           4.1          1.3  versicolor
64.0            5.5          2.5           4.0          1.3  versicolor
77.5            5.5          2.6           4.4          1.2  versicolor
89.0            6.1          3.0           4.6          1.4  versicolor
64.0            5.8          2.6           4.0          1.2  versicolor
52.5            5.0          2.3           3.3          1.0  versicolor
71.5            5.6          2.7           4.2          1.3  versicolor
71.5            5.7          3.0           4.2          1.2  versicolor
71.5            5.7          2.9           4.2          1.3  versicolor
74.5            6.2          2.9           4.3          1.3  versicolor
51.0            5.1          2.5           3.0          1.1  versicolor
68.0            5.7          2.8           4.1          1.3  versicolor

In [261]:
pd.concat([vers,setosa], axis=0)

       sepal_length  sepal_width  petal_length  petal_width     species
rank
93.0            7.0          3.2           4.7          1.4  versicolor
83.5            6.4          3.2           4.5          1.5  versicolor
102.0           6.9          3.1           4.9          1.5  versicolor
64.0            5.5          2.3           4.0          1.3  versicolor
89.0            6.5          2.8           4.6          1.5  versicolor
...             ...          ...           ...          ...         ...
17.5            4.8          3.0           1.4          0.3      setosa
41.0            5.1          3.8           1.6          0.2      setosa
17.5            4.6          3.2           1.4          0.2      setosa
30.5            5.3          3.7           1.5          0.2      setosa
17.5            5.0          3.3           1.4          0.2      setosa

[100 rows x 5 columns]

In [263]:
# Lab Answer - Creating two DataFrames for Sepal and Petal information (Needed for merging)
sepal_info = pd.DataFrame({'sepal_length':df['sepal_length'],'sepal_width':df['sepal_width'],'species':df['species']})
petal_info = pd.DataFrame({'petal_length':df['petal_length'],'petal_width':df['petal_width'],'species':df['species']})
sepal_info

       sepal_length  sepal_width    species
rank
17.5            5.1          3.5     setosa
17.5            4.9          3.0     setosa
8.0             4.7          3.2     setosa
30.5            4.6          3.1     setosa
17.5            5.0          3.6     setosa
...             ...          ...        ...
117.5           6.7          3.0  virginica
106.5           6.3          2.5  virginica
117.5           6.5          3.0  virginica
121.5           6.2          3.4  virginica
112.5           5.9          3.0  virginica

[150 rows x 3 columns]

In [265]:
pd.merge(sepal_info, petal_info, how='inner', right_index=True, left_index=True)

,sepal_length,sepal_width,species_x,petal_length,petal_width,species_y
rank,,,,,,
1.0,4.6,3.6,setosa,1.0,0.2,setosa
2.0,4.3,3.0,setosa,1.1,0.1,setosa
3.5,5.8,4.0,setosa,1.2,0.2,setosa
3.5,5.8,4.0,setosa,1.2,0.2,setosa
3.5,5.0,3.2,setosa,1.2,0.2,setosa
...,...,...,...,...,...,...
148.5,7.7,3.8,virginica,6.7,2.2,virginica
148.5,7.7,3.8,virginica,6.7,2.0,virginica
148.5,7.7,2.8,virginica,6.7,2.2,virginica
148.5,7.7,2.8,virginica,6.7,2.0,virginica
150.0,7.7,2.6,virginica,6.9,2.3,virginica

In [296]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1

     a  b
0  foo  1
1  bar  2

In [297]:
df2

     a  c
0  foo  3
1  baz  4

In [300]:
df1.merge(df2, how='inner', on='a')

     a  b  c
0  foo  1  3

In [301]:
df1.merge(df2, how='left', on='a')

     a  b    c
0  foo  1  3.0
1  bar  2  NaN